<div>
    User Code Analysis: <strong>/user/:user/</strong> (e.g. <a href="https://stats.deeptrain.net/user/zmh-program/">/user/zmh-program/</a>) <br>
    Repo Code Statistic: <strong>/repo/:user/:repo/</strong> (e.g. <a href="https://stats.deeptrain.net/repo/zmh-program/admin-pages/">/repo/zmh-program/admin-pages/</a>)
</div>